:root {

    --text-dark: #ccc;
    --text-light: #111;

    --theme1-color-1: #7be0ad;
    --theme1-color-2: #aee5d8;
    --theme1-color-3: #243010;
    --theme1-color-4: #2a3c24;
    --theme1-color-5: #031d44;

}