:root {

    --text-dark: #ccc;
    --text-light: #111;

    --text-link-hover: #f5c705;
    --text-link: #ccc;

    --theme1-color-1: #fbc200;
    --theme1-color-2: #7d7530;
    --theme1-color-3: #733d0a;
    --theme1-color-4: #b86d07;
    --theme1-color-5: #222a0f;

}